body{
    background-color: rgba(0, 0, 0, 0.603);
}
.cont-1{
    padding-top: 100px;
    background-size: 1200px;
    background: url(./moon-2048727.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 20%;
    
}
.container{
    max-width: fit-content;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 40px;
    background-color:#bdd4e779 ;
    -webkit-background-size: cover;
}
h1{
    color:white;
}
.resetbtn{
    padding-top: 20;
    border-radius: 20px;
}
.decbtn{
    border-radius: 20px;
}
.incbtn{
    border-radius: 20px;
}
